
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "settings";

// Bootstrap
@import "foundation";

@import "debug";

.topic {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 100px;
}

.topics {
    overflow: auto;
}

.topics__list {
    flex-wrap: nowrap;
    overflow: auto;
    border-radius: 10px;
    background: rgb(85, 138, 218);
}

.sub-topics__list {
    border-radius: 10px;
    background: rgb(85, 138, 218);
}

@include breakpoint(medium) {
    .topics__list {
        flex-wrap: wrap;
    }
}
