// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300, 400, 600");

// Variables
@import "settings";

/**
* Override SCSS Foundation Variables
**/
$base_color: black;
$body-background: $topbar-background;
$anchor-color: $base_color;
$card-shadow: 0 10px 10px 0 rgba($dark-gray, 0.5);
$card-border-radius: 10px;

// Zurb Foundation
@import "foundation";

/**
* Override Foundation
**/
.menu {
  > .menu-text {
    user-select: none;
  }
}

/**
* Custom
**/
*:focus {
  outline: none;
}

.loader {
  position: relative;
  top: 50% !important; // Force center of screen.
}

header {
  display: block; // Give structure to element flow so side menu doesn't shift down when it populates.
  min-height: 55px;
  z-index: 1;

  > nav {
    position: fixed !important; // Important otherwise top-bar will disappear on overlay showing.
  }
}

#colophon div.grid-x {
  margin-top: 30px; // Give space for closing button.
}

#twists {
  margin-top: 55px;
}

/**
* Menu
**/
#menu {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 1);
  height: auto;
  position: fixed;
  width: 100%;
  top: 53px;
  z-index: 5;
}

.top-bar {
  box-shadow: none;
}

.topic,
.list {
  hyphens: none;
  white-space: nowrap;
}

.topic {
  font-variant: small-caps;
}

.list--selected {
  background-color: #d3d3d3;
  border-radius: 2px;
  box-shadow: 0 10px 10px -7px rgba(0, 0, 0, 1);
}

.topics {
  overflow: auto;
}

.topics__list,
.lists__list {
  background: $topbar-background;
}

.topics__list {
  flex-wrap: nowrap;
}

@include breakpoint(medium) {
  #twists {
    margin-top: 0;
  }

  #menu {
    box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 1);
    height: 100%;
    width: unset;
  }

  .top-bar {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 1);
  }

  .topics__list {
    flex-wrap: wrap;
  }

  .topic,
  .list {
    white-space: unset;
  }

  .list {
    hyphens: auto;
    padding-left: 2em;
  }

  .topic {
    hyphens: manual;
    padding-left: 1em;
  }
}

#off-canvas {
  &.position-right {
    overflow-y: unset; // Test if this is needed
  }

  > button {
    color: $base_color;
    z-index: 1;
  }
}

/**
* Menu hover for Topics section
**/
$menu-hover-lines-transition: all 0.35s ease;
$menu-hover-lines-border-width: 3px;

.menu-hover-lines {
  transition: $menu-hover-lines-transition;

  li a {
    padding: 0.75rem 0;
    color: $base_color;
    position: relative;
    margin-left: 1rem;
  }

  li:first-child a {
    margin-left: 0;
  }

  li.topic--selected > a {
    background-color: transparent;
  }

  a::before,
  a::after {
    height: $menu-hover-lines-border-width;
    position: absolute;
    content: "";
    transition: $menu-hover-lines-transition;
    background-color: $primary-color;
    width: 0;
  }

  a::before {
    top: 0;
    left: 0;
  }

  a::after {
    bottom: 0;
    right: 0;
  }

  a:hover,
  li.topic--selected > a {
    color: $body-font-color;
    transition: $menu-hover-lines-transition;
  }

  a:hover::before,
  .topic--selected a::before,
  a:hover::after,
  .topic--selected a::after {
    width: 100%;
  }
}

/**
* Favorites
**/

/**
* Icons
**/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  &--large {
    @extend .icon;
    width: 4em;
    height: 4em;
  }
}

.cryptocurrency,
.tech {
  stroke-width: 0.3px;
}

#favorites {
  .card {
    cursor: pointer;
    position: relative;

    &--selected {
      color: lightgray;
      box-shadow: unset;

      &::after,
      &::before {
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &::after {
        background-color: $reveal-overlay-background;
        content: "";
        z-index: 99;
      }

      &::before {
        color: $primary-color;
        content: "✔";
        font-size: 6em;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        z-index: 100;
      }
    }
  }
}

/**
* Spinkit
**/
.spinner__twist {
  height: 2px;
  width: 50%;

  > div {
    background-color: $base_color;
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  @for $i from 1 through 11 {
    & .rect#{$i} {
      $secs: -(1.3s - ($i * 0.1));
      $w: 110% - ($i * 10);
      animation-delay: $secs;
      width: if($w != 0%, $w, 5%);
    }
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleX(0.4);
  }
  20% {
    transform: scaleX(1);
  }
}

.spinner__bounce {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;

  > div {
    width: 30px;
    height: 30px;
    background-color: $base_color;

    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .bounce1 {
    animation-delay: -0.32s;
  }

  .bounce2 {
    animation-delay: -0.16s;
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
