.cell {
    background: rgba(175, 174, 248, 0.5);
    outline: solid rgba(0, 0, 0, 0.1);
}

.grid-x {
    background: rgba(151, 0, 19, 0.1);
    outline: thick double  rgba(0, 0, 0, 0.1);
}

.grid-y {
    background: rgba(0, 151, 19, 0.1);
    outline: thick double  rgba(0, 0, 0, 0.1);
}

// div.second {
//     /*setting alpha = 0.3*/
//     background: rgba(0, 151, 19, 0.3);
// }

// div.third {
//     /*setting alpha = 0.6*/
//     background: rgba(0, 151, 19, 0.6);
// }
