<div id="about" class="reveal large" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down">
    <div>
        <button class="close-button button rounded" data-close aria-label="Close modal" type="button">
            <svg viewBox="0 0 100 100">
                <path
                    d="M 64.4,50.1 75.9,38.6 c 2.4,-2.4 2.4,-6.4 0,-8.8 L 71.1,25 c -1.2,-1.2 -2.7,-1.8 -4.4,-1.8 -1.7,0 -3.2,0.6 -4.4,1.8 L 50.7,36.5 39.2,25 c -1.2,-1.2 -2.7,-1.8 -4.4,-1.8 -1.7,0 -3.2,0.6 -4.4,1.8 l -4.9,4.9 c -2.4,2.4 -2.4,6.4 0,8.8 L 37,50.2 25.6,61.7 c -1.2,1.2 -1.8,2.7 -1.8,4.4 0,1.7 0.6,3.2 1.8,4.4 l 4.9,4.9 c 1.2,1.2 2.7,1.8 4.4,1.8 1.7,0 3.2,-0.6 4.4,-1.8 L 50.8,63.9 62.3,75.4 c 1.2,1.2 2.7,1.8 4.4,1.8 1.7,0 3.2,-0.6 4.4,-1.8 L 76,70.5 c 2.4,-2.4 2.4,-6.4 0,-8.8 z M 75,69.6 70.1,74.5 c -1.9,1.9 -5.2,1.9 -7.1,0 l -12,-12 c -0.1,-0.1 -0.3,-0.2 -0.4,-0.2 -0.1,0 -0.3,0.1 -0.4,0.2 l -12,12 c -1.9,1.9 -5.2,1.9 -7.1,0 l -4.9,-4.9 c -0.9,-0.9 -1.5,-2.2 -1.5,-3.5 0,-1.3 0.5,-2.6 1.5,-3.5 l 12,-12 c 0.2,-0.2 0.2,-0.6 0,-0.9 l -12,-12 c -1.9,-1.9 -1.9,-5.1 0,-7.1 l 4.9,-4.9 c 1.9,-1.9 5.2,-1.9 7.1,0 l 12,12 c 0.2,0.2 0.6,0.2 0.9,0 l 12,-12 c 1.9,-1.9 5.2,-1.9 7.1,0 l 4.9,4.9 c 1.9,1.9 1.9,5.1 0,7.1 l -12,12 c -0.2,0.2 -0.2,0.6 0,0.9 l 12,12 c 1.9,1.9 1.9,5.1 -0.1,7 z" />
            </svg>
        </button>
        <p class="h1 text-center">About</p>
    </div>
    <div class="grid-x grid-padding-x radius">
        <div class="cell">
            <p>
                What's a Twist? It's a portmanteau; combining Twitter and List. Twists makes it easier to
                consume popular lists on Twitter without having to sign up or sign in.
            </p>
        </div>
        <div class="cell">
            <p class="h2 text-center">Topics</p>
            <p>
                Topics emerged from the collation of popular lists that were collected. If you feel that there should be
                a topic of interest, feel free to send a <a class="twitter-share-button"
                    href="https://twitter.com/intent/tweet" data-size="small"
                    data-text="Hi! I would like to see a topic on {TOPIC}." data-url="https://twists.herokuapp.com/"
                    data-hashtags="topic-request,twists" data-via="twists_app">
                    tweet
                </a>
                or an
                <u><a href="mailto:twists.web.app@gmail.com?subject=Topic%20Request&body=Hi!%20I%20would%20like%20to%20see%20a%20topic%20on%20%7BTOPIC%7D."
                        target="_blank">
                        email
                    </a>
                </u>.
            </p>
        </div>
        <div class="cell">
            <p class="h2 text-center">Lists</p>
            <p>
                Lists are curated by popularity. Metrics used are previously listed popular lists by individuals and
                companies, number of members on a list, and number of subscribers to a list. If you feel that there
                should be a list in a certain topic, feel free to send a <a class="twitter-share-button"
                    href="https://twitter.com/intent/tweet" data-size="small"
                    data-text="Hi! I would like to see this list {LIST} in {TOPIC}."
                    data-url="https://twists.herokuapp.com/" data-hashtags="list-request,twists" data-via="twists_app">
                    tweet
                </a>
                or an
                <u><a href="mailto:twists.web.app@gmail.com?subject=List%20Request&body=Hi!%20I%20would%20like%20to%20see%20this%20list%20%7BLIST%7D%20in%20%7BTOPIC%7D."
                        target="_blank">
                        email
                    </a>
                </u>.
            </p>
        </div>
        <div class="cell">
            <p class="h2 text-center">Colophon</p>
            <p>
                This web application was written using the Angular front-end framework with a PHP Laravel back-end
                hosted by Heroku and a Redis data store hosted by Redis Labs.
            </p>
        </div>
        <div class="cell small-5 small-offset-3 medium-4 medium-offset-0">
            <h5 class="text-center">CSS</h5>
            <ul>
                <li>Foundation 6.5.3</li>
            </ul>
        </div>
        <div class="cell small-5 small-offset-3 medium-4 medium-offset-0">
            <h5 class="text-center">Front-end</h5>
            <ul>
                <li>Angular 7.2.15</li>
                <li>Twitter</li>
                <li>Foundation</li>
            </ul>
        </div>
        <div class="cell small-5 small-offset-3 medium-4 medium-offset-0">
            <h5 class="text-center">Back-end</h5>
            <ul>
                <li>PHP Laravel 5.8</li>
                <li>Blade</li>
                <li>Redis</li>
            </ul>
        </div>
        <div class="cell">
            <p class="h3">Attribution</p>
            <p class="h4">Topic Icons</p>
            <ul>
                <li>Brand: branding by Vectors Market from the Noun Project</li>
                <li>Business: Business by Eucalyp from the Noun Project</li>
                <li>Crytocurrency: crypto currency by Iconika from the Noun Project</li>
                <li>Entertainment: entertainment by shashank singh from the Noun Project</li>
                <li>Fashion: Icon made by Freepik from www.flaticon.com </li>
                <li>Food: Food by RD Design from the Noun Project</li>
                <li>Health: Health by Ker'is from the Noun Project</li>
                <li>Music: tone by Mat fine from the Noun Project</li>
                <li>News: news by Naveesh Khattar from the Noun Project</li>
                <li>Party: Party by Berkah Icon from the Noun Project</li>
                <li>Politics: politics by Made x Made from the Noun Project</li>
                <li>Science: Science by Smalllike from the Noun Project</li>
                <li>Social Media: social-media by priyanka from the Noun Project</li>
                <li>Sports: Sports by Becris from the Noun Project</li>
                <li>Startup: Business by iconmarketpk from the Noun Project</li>
                <li>Tech: Microchip by Made x Made from the Noun Project</li>
                <li>Top: best by priyanka from the Noun Project</li>
                <li>Travel: Travel by kiddo from the Noun Project</li>
            </ul>
            <p class="h4">Button Icons</p>
            <ul>
                <li>Check Mark By Nice and Serious, GB from the Noun Project</li>
                <li>Cross By Nice and Serious, GB from the Noun Project</li>
                <li>List by Filip Malinowski from the Noun Project</li>
                <li>Refresh by Tim Boelaars from the Noun Project</li>
            </ul>
            <p class="h4">Icon Software</p>
            <ul>
                <li>IcoMoon.io</li>
                <li>InkScape</li>
            </ul>
        </div>
    </div>
</div>
