<div [@fade]="fade_state">
    <header id="header" data-sticky-container>
        <nav data-sticky data-margin-top="0" style="width:100%" data-sticky-on="small">
            <app-header></app-header>
        </nav>
    </header>
    <main class="grid-container full">
        <section class="off-canvas position-right" id="off-canvas" data-off-canvas>
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <app-lists></app-lists>
        </section>
        <section class="grid-x">
            <div class="cell medium-3 medium-order-1" data-sticky-container>
                <div data-sticky data-margin-top="3.34" data-sticky-on="small">
                    <app-topics></app-topics>
                    <app-lists class="hide-for-small-only"></app-lists>
                </div>
            </div>
            <div class="cell medium-9">
                <app-twists></app-twists>
            </div>
        </section>
    </main>
</div>
<app-favorites></app-favorites>
<app-colophon></app-colophon>
