<div [@fade]="fade_state">
    <main class="grid-container">
        <section class="off-canvas position-right" id="off-canvas" data-off-canvas>
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <app-lists></app-lists>
        </section>
        <section class="grid-x">
            <div class="cell medium-9 sticky-container">
                <header class="sticky is-stuck">
                    <nav>
                        <app-header></app-header>
                    </nav>
                </header>
            </div>
            <div class="cell medium-3">
                <div class="dummy hide-for-small-only"></div>
            </div>
            <div class="cell medium-3 medium-order-1">
                <div id="menu">
                    <app-topics></app-topics>
                    <hr class="hide-for-small-only" />
                    <app-lists class="hide-for-small-only"></app-lists>
                </div>
            </div>
            <div class="cell medium-9">
                <app-twists></app-twists>
            </div>
        </section>
        <app-intro></app-intro>
        <app-favorites></app-favorites>
        <app-colophon></app-colophon>
    </main>
</div>
