<div id="colophon" class="reveal large" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down">
    <div>
        <button class="close-button button hollow rounded" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <p class="h1 text-center">Colophon</p>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell text-justify">
            <p>
                This is a web application written using the Angular front-end framework with a PHP Laravel backend and Redis data store.
                It exposes Twitter List Timeines to unregistered users. Users can save their favorite topics locally. They can
                also refresh each timeline individually to update tweets from users on those lists.
            </p>
        </div>
        <div class="cell small-5 small-offset-3 medium-4 medium-offset-0">
            <h5>CSS</h5>
            <ul>
                <li>Foundation 6.5.3</li>
            </ul>
        </div>
        <div class="cell small-5 small-offset-3 medium-4 medium-offset-0">
            <h5>Front-end</h5>
            <ul>
                <li>Angular 7.2.15</li>
                <li>Twitter</li>
                <li>Foundation</li>
            </ul>
        </div>
        <div class="cell small-5 small-offset-3 medium-4 medium-offset-0">
            <h5>Back-end</h5>
            <ul>
                <li>PHP Laravel 5.8</li>
                <li>Blade</li>
                <li>Redis</li>
            </ul>
        </div>
        <div class="cell text-justify">
            <p class="h3">Attribution</p>
            <p class="h4">Topic Icons</p>
            <ul>
                <li>Brand: branding by Vectors Market from the Noun Project</li>
                <li>Business: Business by Eucalyp from the Noun Project</li>
                <li>Crytocurrency: crypto currency by Iconika from the Noun Project</li>
                <li>Entertainment: entertainment by shashank singh from the Noun Project</li>
                <li>Fashion: Icon made by Freepik from www.flaticon.com </li>
                <li>Food: Food by RD Design from the Noun Project</li>
                <li>Health: Health by Ker'is from the Noun Project</li>
                <li>Music: tone by Mat fine from the Noun Project</li>
                <li>News: news by Naveesh Khattar from the Noun Project</li>
                <li>Party: Party by Berkah Icon from the Noun Project</li>
                <li>Politics: politics by Made x Made from the Noun Project</li>
                <li>Science: Science by Smalllike from the Noun Project</li>
                <li>Social Media: social-media by priyanka from the Noun Project</li>
                <li>Sports: Sports by Becris from the Noun Project</li>
                <li>Startup: Business by iconmarketpk from the Noun Project</li>
                <li>Tech: Microchip by Made x Made from the Noun Project</li>
                <li>Top: best by priyanka from the Noun Project</li>
                <li>Travel: Travel by kiddo from the Noun Project</li>
            </ul>
            <p class="h4">Button Icons</p>
            <ul>
                <li>Refresh by Tim Boelaars from the Noun Project</li>
            </ul>
            <p class="h4">Icon Software</p>
            <ul>
                <li>IcoMoon.io</li>
                <li>InkScape</li>
            </ul>
        </div>
    </div>
</div>
