<div id="colophon" class="reveal large" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down">
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="grid-x">
        <div class="cell text-justify">
            This is an example web application written using Angular with a PHP backend and Redis data store.
            It exposes Twitter List Timeines to unregistered users. Users can save their favorite topics locally
            with cookies. Due to Twitter's API polling, the list timelines are static for a better
            user experience. Refresh web page to get updated timelines.
        </div>
    </div>
    <div class="grid-x">
        <div class="cell small-5 small-offset-3 medium-4 medium-offset-0">
            <h5>CSS</h5>
            <ul>
                <li>Foundation 6.5.3</li>
            </ul>
        </div>
        <div class="cell small-5 small-offset-3 medium-4 medium-offset-0">
            <h5>JS</h5>
            <ul>
                <li>Angular 7.2.15</li>
                <li>Twitter</li>
                <li>Foundation</li>
            </ul>
        </div>
        <div class="cell small-5 small-offset-3 medium-4 medium-offset-0">
            <h5>PHP</h5>
            <ul>
                <li>Laravel 5.8</li>
                <li>Blade</li>
                <li>Redis</li>
            </ul>
        </div>
    </div>
</div>
