<div id="favorites" class="reveal large" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down"
    (click)="onSelect($event)">
    <div>
        <button class="close-button button hollow rounded" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <p class="h1 text-center">Favorites</p>
    </div>
    <div class="grid-x grid-padding-x align-spaced text-center radius">
        <div class="cell medium-4">
            <div class="card" data-id=0>
                <div class="card-section">
                    <svg class="icon--large brands">
                        <use xlink:href="imgs/icons.svg#brands" />
                    </svg>
                    <p class="h3">Brands</p>
                </div>
            </div>
        </div>
        <div class="cell medium-4">
            <div class="card" data-id=1>
                <div class="card-section">
                    <svg class="icon--large business">
                        <use xlink:href="imgs/icons.svg#business" />
                    </svg>
                    <p class="h3">Business</p>
                </div>
            </div>
        </div>
        <div class="cell medium-6">
            <div class="card" data-id=2>
                <div class="card-section">
                    <svg class="icon--large cryptocurrency">
                        <use xlink:href="imgs/icons.svg#cryptocurrency" />
                    </svg>
                    <p class="h3">Cryptocurrency</p>
                </div>
            </div>
        </div>
        <div class="cell medium-6">
            <div class="card" data-id=3>
                <div class="card-section">
                    <svg class="icon--large entertainment">
                        <use xlink:href="imgs/icons.svg#entertainment" />
                    </svg>
                    <p class="h3">Entertainment</p>
                </div>
            </div>
        </div>
        <div class="cell medium-4">
            <div class="card" data-id=4>
                <div class="card-section">
                    <svg class="icon--large fashion">
                        <use xlink:href="imgs/icons.svg#fashion" />
                    </svg>
                    <p class="h3">Fashion</p>
                </div>
            </div>
        </div>
        <div class="cell medium-3">
            <div class="card" data-id=5>
                <div class="card-section">
                    <svg class="icon--large food">
                        <use xlink:href="imgs/icons.svg#food" />
                    </svg>
                    <p class="h3">Food</p>
                </div>
            </div>
        </div>
        <div class="cell medium-4">
            <div class="card" data-id=6>
                <div class="card-section">
                    <svg class="icon--large health">
                        <use xlink:href="imgs/icons.svg#health" />
                    </svg>
                    <p class="h3">Health</p>
                </div>
            </div>
        </div>
        <div class="cell medium-4">
            <div class="card" data-id=7>
                <div class="card-section">
                    <svg class="icon--large music">
                        <use xlink:href="imgs/icons.svg#music" />
                    </svg>
                    <p class="h3">Music</p>
                </div>
            </div>
        </div>
        <div class="cell medium-3">
            <div class="card" data-id=8>
                <div class="card-section">
                    <svg class="icon--large news">
                        <use xlink:href="imgs/icons.svg#news" />
                    </svg>
                    <p class="h3">News</p>
                </div>
            </div>
        </div>
        <div class="cell medium-4">
            <div class="card" data-id=9>
                <div class="card-section">
                    <svg class="icon--large party">
                        <use xlink:href="imgs/icons.svg#party" />
                    </svg>
                    <p class="h3">Party</p>
                </div>
            </div>
        </div>
        <div class="cell medium-4">
            <div class="card" data-id=10>
                <div class="card-section">
                    <svg class="icon--large politics">
                        <use xlink:href="imgs/icons.svg#politics" />
                    </svg>
                    <p class="h3">Politics</p>
                </div>
            </div>
        </div>
        <div class="cell medium-4">
            <div class="card" data-id=11>
                <div class="card-section">
                    <svg class="icon--large science">
                        <use xlink:href="imgs/icons.svg#science" />
                    </svg>
                    <p class="h3">Science</p>
                </div>
            </div>
        </div>
        <div class="cell medium-5">
            <div class="card" data-id=12>
                <div class="card-section">
                    <svg class="icon--large social-media">
                        <use xlink:href="imgs/icons.svg#social-media" />
                    </svg>
                    <p class="h3">Social Media</p>
                </div>
            </div>
        </div>
        <div class="cell medium-4">
            <div class="card" data-id=13>
                <div class="card-section">
                    <svg class="icon--large sports">
                        <use xlink:href="imgs/icons.svg#sports" />
                    </svg>
                    <p class="h3">Sports</p>
                </div>
            </div>
        </div>
        <div class="cell medium-4">
            <div class="card" data-id=14>
                <div class="card-section">
                    <svg class="icon--large startup">
                        <use xlink:href="imgs/icons.svg#startup" />
                    </svg>
                    <p class="h3">Startup</p>
                </div>
            </div>
        </div>
        <div class="cell medium-3">
            <div class="card" data-id=15>
                <div class="card-section">
                    <svg class="icon--large tech">
                        <use xlink:href="imgs/icons.svg#tech" />
                    </svg>
                    <p class="h3">Tech</p>
                </div>
            </div>
        </div>
        <div class="cell medium-4">
            <div class="card" data-id=16>
                <div class="card-section">
                    <svg class="icon--large top">
                        <use xlink:href="imgs/icons.svg#top" />
                    </svg>
                    <p class="h3">Top 100</p>
                </div>
            </div>
        </div>
        <div class="cell medium-4">
            <div class="card" data-id=17>
                <div class="card-section">
                    <svg class="icon--large top">
                        <use xlink:href="imgs/icons.svg#top" />
                    </svg>
                    <p class="h3">Top 50</p>
                </div>
            </div>
        </div>
        <div class="cell medium-4">
            <div class="card" data-id=18>
                <div class="card-section">
                    <svg class="icon--large top">
                        <use xlink:href="imgs/icons.svg#top" />
                    </svg>
                    <p class="h3">Top 25</p>
                </div>
            </div>
        </div>
        <div class="cell medium-4">
            <div class="card" data-id=19>
                <div class="card-section">
                    <svg class="icon--large top">
                        <use xlink:href="imgs/icons.svg#top" />
                    </svg>
                    <p class="h3">Top 10</p>
                </div>
            </div>
        </div>
        <div class="cell medium-4">
            <div class="card" data-id=20>
                <div class="card-section">
                    <svg class="icon--large travel">
                        <use xlink:href="imgs/icons.svg#travel" />
                    </svg>
                    <p class="h3">Travel</p>
                </div>
            </div>
        </div>
    </div>
</div>
