<div id="intro" class="reveal large" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down">
    <div>
        <button class="close-button button hollow rounded" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <p class="h1 text-center">Twists</p>
    </div>
    <div class="grid-x grid-padding-x radius">
        <div class="cell text-justify">
            <p>
                What's a Twist? It's a portmanteau; combining Twitter and List. This application makes it easier to
                consume popular lists on Twitter without having to have an account. So, choose your favorite topics and
                enjoy!
            </p>
        </div>
    </div>
</div>
